@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222336;
  --foreground: #efeaea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222336;
    --foreground: #ffffff;
  }
}

main {
  background-image: url("./components/hippo.jpg");
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100vh; /* Makes it fill the entire height of the viewport */
  width: 100%; /* Makes it fill the entire width */
  position: relative; /* Enables positioning for the dimming overlay */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.uploadPage {
  background-image: url("./components/orangutan.jpg");
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100vh; /* Makes it fill the entire height of the viewport */
  width: 100%; /* Makes it fill the entire width */
  position: relative; /* Enables positioning for the dimming overlay */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
